<div class="container-fluid">
  <section class="row">
    <div class="col-12">
      <div class="d-flex align-items-center">
        <h1>Spellbook</h1>
        <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"
          class="btn btn-primary ms-3">Show my spells</button>
      </div>
    </div>
  </section>

  <section class="row">
    <!-- ANCHOR spell list -->
    <div id="dndSpellList" class="col-4 text-center">
      <!-- STUB spell list button -->
      <!-- <div class="mb-2">
        <button class="btn btn-info w-75">Animal Friendship</button>
      </div> -->
    </div>
    <!-- ANCHOR spell details -->
    <div id="spellDetails" class="col-8">
      <!-- <div class="card p-4">
        <h2>ANIMAL FRIENDSHIP</h2>
        <h3>LEVEL 3</h3>
        <h4>
          RANGE: 1
          <span>RITUAL</span>
          <span>CONCENTRATION</span>
          DURATION 10seconds
        </h4>
        <h5>
          <span>MATERIAL A bunch of berries</span>
          CASTING TIME 1second
        </h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus eum dignissimos reiciendis sapiente delectus
          ex aliquid quisquam, voluptas odit! Vero sequi sint illo ipsa accusantium non dolor neque similique saepe
          consequatur accusamus corrupti nesciunt, itaque, voluptates qui earum exercitationem praesentium sunt odio
          magni. Perferendis harum nostrum repellat blanditiis, voluptatum nisi labore dolorem voluptate est quasi
          asperiores sapiente, inventore porro vero tempore omnis animi? Quos, perferendis reiciendis eius aliquam sed
          blanditiis natus ea, dicta nobis non voluptas et est quo ipsum. Dolor, quasi velit expedita, accusantium culpa
          numquam reprehenderit facilis at dignissimos, incidunt repudiandae impedit praesentium facere laudantium sit
          odio cumque!</p>
      </div> -->
    </div>
  </section>
</div>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasRightLabel">My Spells <span id="spellCount">0/0</span></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div id="mySpells" class="offcanvas-body text-center">

  </div>
</div>